/* src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .bg-red-100 {
  background-color: #fed7d7;
}

.text-2xl {
  font-size: 1.5rem;
}

.font-bold {
  font-weight: 700;
}

.text-blue-600 {
  color: #3182ce;
} */